
@{
    ViewBag.Title = "values";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Values</title>
    <link href="~/Scripts/values/value.css" rel="stylesheet" />
</head>
<body>
    <div id="banner" class="section-m1">
        <h4>VALUES</h4>
        <h2>We Can All Do Better by</h2>
        <h2>People and the Planet.</h2>
    </div>
    <div class="text">
        <h2>Who We Are</h2>
        <p><b>Thesus is a socially and environmentally progressive brand of outdoor footwear and accessories.</b></p>
        <p><b>We are made up of a small ragtag band of industry outsiders from around the world. We have big imaginations but listen, think and act carefully. We come from backgrounds of law, international development, design, data science and social work.</b></p>
        <p><b>We believe that positive change happens when even simple ideas are given wings. Our ideas are brought to life through connection, commitment, and design simplicity.</b></p>
    </div>
    <div id="banner2">
        <h2>Where We Are</h2>
        <p><b>Thesus HQ is in Toronto, Canada. We acknowledge the Mississaugas of New Credit, the Haudenosaunee and Huron-Wendat First Nations, the original keepers of this land that hosts us.</b></p>
    </div>
    <div class="rooow">
        <div class="img">
            <img src="~/Content/Values/ValuesBanner4.png" height="760" width="760" />
        </div>
        <div class="txt">
            <h2>Connection</h2>
            <p><b>We connect with the best producers in the world, those with generational knowledge and those who also share our values of accountability, transparency and sustainability. We stay in the region, we break bread, we laugh and share stories, we get to know the culture and community, and most importantly work closely to make better shoes, for People and the Planet.</b></p>
        </div>
    </div>
    <div class="rooow">
        <div class="txt">
            <h2>Commitment</h2>
            <p><b>Our commitment centers around ensuring that the People and the Planet are considered at every stage of our value chain. We have aligned ourselves with the United Nations Sustainable Development Goals to make sure we are always at the forefront of addressing important issues like Ocean Pollution, Climate Change and Economic Inequalities.</b></p>
        </div>
        <div class="img">
            <img src="~/Content/Values/ValuesBanner5.png" height="760" width="760" />
        </div>
    </div>
    <div class="rooow">
        <div class="img">
            <img src="~/Content/Values/ValuesBanner6.png" height="760" width="760" />
        </div>
        <div class="txt">
            <h2>Good Design</h2>
            <p><b>We believe in good design as a way of reducing waste. We focus on what matters: material make-up, design simplicity, sustainability, quality, comfort and functional integrity. We create versatile shoes that you actually want to wear, on-or-off a trail year round.</b></p>
        </div>
    </div>
    <div class="text section-m1">
        <h2>Our Commitments</h2>
        <span id="tmr"></span>
        <p><b>We are counting down to 31 December 2022, the deadline we have set to achieve our commitments, including the use of 100% natural and recycled materials, while being Climate Positive. Please follow along on our journey.</b></p>
    </div>
    <div class="text section-m1">
        <h2>Transparency</h2>
        <p><b>At Thesus we believe that honesty and transparency is the most important driver in ensuring progress is made for People and the Planet. We reveal our entire materials list on each product page, so there are no questions left unanswered.</b></p>
        <p><b>We are always looking to be better at what we do. That means being on the lookout for new materials and partners to help us do better. If you have any suggestions or direction, please reach out to us at support@thesusoutdoors.com.</b></p>
        <p><b><u>Our Commitment: By July 2022 we will have our first bi-annual report, documenting our progress toward supporting people and the planet.</u></b></p>
    </div>
    <div class="text section-m1">
        <h2>Diversity and Inclusion</h2>
        <p><b>Thesus is proudly BIPOC woman-owned, and women-led, and we will continue to ensure diversity in all ranks as we grow.</b></p>
        <p><b>We are dedicated to achieving the best practices for equitable hiring, growth, and pay for every team member and committed to ensuring diversity of size, race and gender/sexuality is being celebrated internally and externally.</b></p>
        <p><b><u>Our Commitment: By July 2022 we aim to have at least 75% of our external partners sign diversity and inclusion commitments.</u></b></p>
    </div>
    <div class="text section-m1">
        <h2>100% Living Wage</h2>
        <p><b>We believe that living wages are at the center of our quality of life as communities. We want to ensure that we provide a supportive environment so people lead happier and healthier lives.</b></p>
        <p><b>At Thesus, 100% of our current staff and staff with our direct manufacturers are paid a living wage.</b></p>
        <p><b><u>Our Commitment: By December 31 2022 we aim to have at least 75% of our Materials Suppliers make living wage commitments to all employees.</u></b></p>
    </div>
    <div class="text section-m1">
        <h2>Factories</h2>
        <p><b>At Thesus we commit to working in regions in the world that have overarching systems and good governance in place to support a decent standard of living. We spend months finding the right people to partner with, live in the regions, and build friendships with their teams.</b></p>
        <p><b>Early Update - as of July 2022 we have moved 100% of our production to Portugal, beating our goal of an HDI rank by 3% achieving an <u>HDI 0.864.</u></b></p>
    </div>
    <div class="mid-img">
        <img src="~/Content/Values/ValuesBanner7.png" />
        <p><b>São João De Madeira, Portugal</b></p>
    </div>
    <div class="text section-m1">
        <h2>Climate Positive</h2>
        <p><b>We are not neutral when it comes to climate change. We are aiming at being regenerative in all our activities, this means we want to be Climate Positive in all of our activities.</b></p>
        <p><b><u>Our Commitment: By the end of 2022 we aim to be a Climate Neutral Certified company. Beyond that, we will measure our carbon emissions, offset our entire footprint plus an extra 10% . We will implement strategies to reduce our emissions this year and to exist more regeneratively as a company.</u></b></p>
    </div>
    <div class="text section-m1">
        <h2>Diverting Waste</h2>
        <p><b>At Thesus we are committed to making footwear has a positive environmental impact on the world.</b></p>
        <p><b>We do this by taking the time to research materials; natural materials that have been used for millennia, as well as new and innovative materials that have a net positive impact on the world around us</b></p>
        <p><b><u>Our Commitment: By the end of of 2022 we are committed to using 100% environmentally progressive materials in our footwear that help to support environmental regeneration. This includes reducing C02 emissions, diverting waste from oceans and landfills and circularity in design.</u></b></p>
    </div>
    <div>
        <iframe width="1000" height="345" src="https://www.youtube.com/embed/iv6JD3ob36M" frameborder="0" allow="encrypted-media">
        </iframe>
    </div>
    <div class="text section-m1">
        <h2>Alignment With the UN Goals</h2>
        <p><b>We have aligned ourselves with the <u>United Nations Sustainable Development Goals</u> to make sure we are always at the forefront of addressing important issues like Ocean Pollution, Climate Change and Economic Inequalities.</b></p>
    </div>
    <div class="mid-img">
        <img src="~/Content/Values/img2.png" />
    </div>
    <div id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h2>Let's Stay In Touch</h2>
            <p>Sign up to our newsletter to get $10 off your first purchase.</p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your e-mail">
            <button class="normal">SignUp</button>
        </div>
    </div>
    <script>
// Set the date we're counting down to
var countDownDate = new Date("Dec 31, 2022").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="tmr"
  document.getElementById("tmr").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("tmr").innerHTML = "EXPIRED";
  }
}, 1000);
    </script>
</body>
</html>


