
@{
    ViewBag.Title = "WearCare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Wear, Care and FAQ</title>
    <style>
        .form-width {
            width: 70%;
            padding-left: 25rem;
        }

            .form-width h2 {
                color: #123026;
            }

        .collapsible {
            background-color: white;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            border-bottom: 1px solid black;
        }

            .active, .collapsible:hover {
                background-color: white;
            }

            .collapsible:after {
                content: '\002B';
                color: black;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

        .active:after {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <img src="~/Content/LinksImages/Footer1.png" width="100%" />
    <div class="form-width">

        <h2>The Weekend Boots FAQ:</h2>

        <button class="collapsible">Can I wear the Weekend Boots hiking?</button>
        <div class="content">
            <p>You certainly can. The Weekend Boots are an all-around boot made to be worn on or off hiking trails.  Once broken in, they should be very comfortable. The natural rubber lug sole that's a great grip for inclines and inclement weather and the laces-up design keeps your ankle in place when walking on uneven terrain. Already our Weekend Boots have made their way into the Swiss Alps, Canadian Rockies, the Pyrenees and up Half Dome in Yosemite. Remember to break them in before heading out on a longer hike. </p>
            <p>As the Weekend Boot is an all-around boot, for very technical or very long hikes, you may want to consider getting a pair of boots that have technical features specific to your trail and/or personal needs.  </p>
        </div>

        <button class="collapsible">Can I wear the Weekend Boots in the winter?</button>
        <div class="content">
            <p>Yes you can. The Weekend Boots were designed in Toronto, Canada for use in snow and ice. You can also purchase our Woolly Footbeds to make the Weekend Boots extra cozy and warm when the weather turns cold.</p>
            <p>Note: It is best to size up to make room for a thicker sock on colder days.</p>
        </div>
        <button class="collapsible">Are the Weekend Boots waterproof?</button>
        <div class="content">
            <p>The boots are water-resistant, not waterproof. This means your feet should remain dry when walking short distances in snow and/or rain. However, if you are walking through water, or very wet areas for long durations, you will likely find that some moisture will seep through. </p>
            <p>As with any boots, be sure to wipe them down after use, and store them in a dry place.</p>
        </div>
        <button class="collapsible">Are the Weekend Boots vegan?</button>
        <div class="content">
            <p>Yes! The Weekend Boots are 100% vegan and made from 95% natural and recycled materials. They are hand made in a family-run factory in Portugal using recycled ocean plastic and natural tree rubber.</p>
        </div>
        <button class="collapsible">Do you have any sizing tips for the Weekend Boots?</button>
        <div class="content">
            <p>Our Weekend Boots run true to size. If you are a half size, best to size up. They are made for all foot widths. Make sure you try them on with a thicker sock and your toes aren’t hitting the front of the boot when you walk.</p>
            <p>If your toes need a little extra wiggle room, you can gain about ½ a size of space by removing the memory foam insole.</p>
        </div>
        <button class="collapsible">How long does it take to break the Weekend Boots in?</button>
        <div class="content">
            <p>The Weekend Boot may take about 3-5 wears before giving way to the unique shape of your foot.  To avoid blisters, make sure you break them in before you head out on a longer, or more intense walk.</p>
        </div>
        <button class="collapsible">Do you have any tips for breaking in the Weekend Boots?</button>
        <div class="content">
            <p>Wear your boots inside your house to begin with. Wear them with the socks and insoles you will typically be wearing them with. Ensure your boots are not tied too tightly,  such that your ankle and/or foot feel constricted.</p>
            <p>Move on to short walks outdoors and build up to longer walks over time. Make sure your boots feel good at each stage before increasing the distance.</p>
            <p>Your new boots will feel a little stiff at first, but they will soften with time.</p>
        </div>
        <button class="collapsible">Do the Weekend Boots stretch?</button>
        <div class="content">
            <p>Over time your Weekend Boots will soften, and loosen up a little bit around the body of your foot, and around the ankle.</p>
        </div>
        <button class="collapsible">How do I clean my Weekend Boots?</button>
        <div class="content">
            <p>Don’t be afraid to get The Weekend Boots dirty.  Just spot clean the upper with a clean cloth and warm water. It’s that simple.</p>
        </div>
        <button class="collapsible">How should I store my Weekend Boots?</button>
        <div class="content">
            <p>After use, be sure to wipe the boots down dry before storing them. Store your boots in an upright position in a cool, dry place. </p>
        </div>
        <button class="collapsible">Do the Weekend Boots have space for my orthotics?</button>
        <div class="content">
            <p>Yes, they certainly do. The Weekend Boots come with a removable insole, so you can replace them with your own orthotic.</p>
        </div>
        <button class="collapsible">If my Weekend Boots break, what do I do?</button>
        <div class="content">
            <p>Please reach out to support@thesusoutdoors.com with your order number and photo proof of the damaged area and we will get back to you as quickly as possible with next steps.</p>
        </div>

        <h2>The Terrus FAQ:</h2>
        <button class="collapsible">How do I clean the Terrus?</button>
        <div class="content">
            <p>Don’t be afraid to get The Terrus dirty.  Just spot clean the upper with a clean cloth and warm water. It’s that simple.</p>
        </div>
        <button class="collapsible">Are the Terrus' vegan?</button>
        <div class="content">
            <p>They certainly are. The Terrus is 100% vegan and produced in a family-run factory in Portugal . They are thoughtfully designed with recycled ocean plastics, locally sourced cork and natural rubber.</p>
        </div>
        <button class="collapsible">Do you have sizing tips for the Terrus?</button>
        <div class="content">
            <p>The Terrus runs true to size (with room for woolly socks on cool days). The Terrus is made with loads of room for your toes to get the much-needed space they deserve.  Use the adjustable straps to make sure your foot feels secure while walking on inclines or rocky terrain.</p>
        </div>
        <button class="collapsible">How long does it take to break the Terrus in?</button>
        <div class="content">
            <p>The Terrus is comfy right out of the box.  For longer or more intense walks, it's best to get a few wears in to make sure you are comfy along the way. </p>
        </div>

    </div>
    <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
}
    </script>
</body>
</html>

